@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
}
a {
    color: black;
}

body {
    padding-top: 60px;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

section {
    overflow: auto;
}


input {
    margin-bottom: 10px !important;
}
textarea{
    margin-bottom: 10px !important;
    resize: vertical;
}
select{
    margin-bottom: 10px !important;
}

.finish {
    background-color: #808080;
}
.late{
    background-color: #ff0000;
}
.warn{
    background-color: #ffff00;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
}
  
.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
}
  
#session_remember_me {
    width: auto;
    margin-left: 0;
}

li.task {
    display:block ;
}

.nav-tabs{
    margin-bottom: 10px !important;
}

.form-signin-heading{
    text-align: center;
}

.confirm .btn-default{
    width: 62.34px;
}

