// Place all the styles related to the MonthlyGoals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.m-goals{
    overflow: scroll; 
    height: 410px;
    .goal-form{
        margin-top: 10px;
    }
    .navbar{
        background: white;
        border: none;
        margin-bottom: 2.5px;
        a{
            color: rgb(119, 119, 119);
        }
    }
    .edit-link{
        float: right;

    }
    label{
        display: inline-block;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        left: 10px;
        border-bottom: 1px solid #333;
        font-size: 18px;
    }
    p{
        width: 100%;
        //margin: auto 5px ;
    }
    td{
        width: 50%;
        word-break:break-word;
    }
    overflow: scroll; 
    height: 640px;
}

.edit-goals{
    .navbar{
        background: white;
        border: none;
        margin-bottom: 2.5px;
    }
    
}

.new-goals{
    .navbar{
        background: white;
        border: none;
        margin-bottom: 2.5px;
    }
    .check-goal{
        text-align: center;
    }
    .other-form{
        padding-top: 17px;
    }
    .glyphicon{
        padding-top: 18px;
    }
    .btn{
        width: 50%;
        margin: auto 25%;
    }
    .form-seelct{
        padding-top: 10px;
    }
}

