<% provide(:title, 'Edit user') %>
<% provide(:button_text, '保存') %>
<%= render 'shared/tab' %>
<h1>プロフィール編集</h1>
<%= render 'form' %>
<button onclick="history.back()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

