<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Sign Up') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3 woocommerce">
    <h2 class="form-signin-heading">Sign Up</h2>
    <%= render 'form' %>
  </div>
</div>

